* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

@keyframes blink {
    to {
        background-color: @theme_base_color;
        color: @theme_text_color;
    }
}

label:focus {
    background-color: @theme_base_color;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

#workspaces button {
    padding: 8px 8px;
    background-color: transparent;
    color: @theme_text_color;
}

#workspaces button:hover {
    background: @theme_unfocused_bg_color;
}

#workspaces button.focused {
    background-color: @unfocused_insensitive_color;
    color: @theme_text_color;
    box-shadow: inset 0 -3px @theme_text_color;
}

#workspaces button.urgent {
    background-color: @warning_color;
}

#mode {
    background-color: @unfocused_insensitive_color;
    color: @theme_text_color;
    padding: 8px 6px;
    box-shadow: inset 0 -3px @theme_text_color;
}

#scratchpad {
    padding: 8px 6px;
}   
    
#scratchpad.empty {
   background-color: transparent;
}

#window {
    padding: 8px 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
   margin-right: 0;
}

#mpris {
    padding: 8px 6px;
}

#privacy {
   padding: 0 0;
}

#privacy-item {
   padding: 8px 6px;
   color: white;
}

#privacy-item.screenshare {
   background-color: #cf5700;
}

#privacy-item.audio-in {
   background-color: #1ca000;
}

#privacy-item.audio-out {
   background-color: #0069d4;
}

#tray {
   padding: 8px 6px;
}

#tray > .passive {
   -gtk-icon-effect: dim;
}

#tray > .needs-attention {
   -gtk-icon-effect: highlight;
   background-color: @warning_color;
}

#pulseaudio {
    padding: 8px 6px;
}

#network {
    padding: 8px 4px;
}

#clock {
    padding: 0 6px;
    padding-top: 3px;
    color: @theme_text_color;
    margin-right: 6px;
}
