#window {
   background-color: @theme_base_color;
}

#input {
   background-color: @theme_base_color;
   color: @theme_text_color;
   box-shadow: none;
   font-size: 18px;
}

#expander-box {
   background-color: @theme_base_color;
}

#text {
   color: @theme_text_color;
}

#entry:selected {
   background-color: @unfocused_insensitive_color;
   color: @theme_text_color;
}

#entry {
   font-size: 18px;
}

#img {
   margin-right: 5px;
}

