[Unit]
Description=User startup actions
After=multi-user.target

[Service]
User=%I
Type=oneshot
ExecStart=/home/%I/.local/share/scripts/startup.sh

[Install]
WantedBy=multi-user.target
